* {
	margin: 2px;
}

body{
	font-size: 24px;
	color: white;
	height: 100vh;
	text-align: center;
	direction: flex;
	flex-direction: column;
}

.flex-header{
	background-color: crimson;
	padding-top: 1rem;
	padding-bottom: 1px;
	
}
.flex-main {
	display: flex;
	flex:3;
	height: 57%;
}
.flex-nav{
	background-color: yellow;
	padding-top: 3rem; 
	flex: 1 1 5rem;
}
.flex-article{
	background-color: green;
	padding-top: 3rem;
	flex: 3 3;
}
.flex-aside{
	background-color: orange;
	padding-top: 3rem;
	flex: 1 1 5rem;
}
.flex-footer{
	background-color: steelblue;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
@media all and (max-width: 540px){
	.flex-main{
		flex-direction: column;
	}
}
ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: auto;
			margin-left: 90px;
			align-content: center;
		}
		li {
			float: left;
		}
		li a{
			display: block;
			margin: 10px;
			text-decoration: none;
			color: white;
			font-family: arial black;
			font-size: 14px;
/*			text-align: right;*/
		}